#pMain { 
    position: absolute;
    background-color:  aqua;
    width:100%;
	height:100%;        
}

#pBoard{
 position: absolute;
 background-color: aliceblue;   
}

#pCardList{
position: relative;
 background-color: antiquewhite;   
}

#pTime{
position: relative;
 background-color: aqua;  
    
    width:30px;
	height:30px; 
}

#myImage{
position: relative;
    margin-left: 100px;
    margin-top: 80px;
    width:100px;
	height:200px; 
}

